@charset "utf-8";
/* CSS Document */

@keyframes lv-wSkewIn {
  from {
    transform: skew(0deg, 10deg) translateY(50px);
    opacity: 0;
  }

  to {
    transform: skew(0deg, 0deg) translateY(0px);
    opacity: 1;
  }
}

@keyframes lv-wSkewOut {
  from {
    transform: skew(0deg, 0deg) translateY(0px);
    opacity: 1;
  }

  to {
    transform: skew(0deg, 10deg) translateY(50px);
    opacity: 0;
  }
}


@-webkit-keyframes scaleBigToSmall{
0%{-webkit-transform: scale(1.2) translate3d(0,0,0); opacity: 0;filter: blur(20px);}
100%{-webkit-transform: scale(1) translate3d(0,0,0); opacity: 1;filter: blur(0px);}
}
@-moz-keyframes scaleBigToSmall{
0%{-moz-transform: scale(1.2) translate3d(0,0,0); opacity: 0;filter: blur(20px);}
100%{-moz-transform: scale(1) translate3d(0,0,0); opacity: 1;filter: blur(0px);}
}
@-ms-keyframes scaleBigToSmall{
0%{-ms-transform: scale(1.2) translate3d(0,0,0); opacity: 0;filter: blur(20px);}
100%{-ms-transform: scale(1) translate3d(0,0,0); opacity: 1;filter: blur(0px);}
}


@keyframes opacityZeroHundred {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes widthZeroHundred {
    from {
        opacity: 1;
        width: 0;
    }
    to {
        opacity: 1;
        width: 100%;
    }
}

@-webkit-keyframes lv-fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    filter: blur(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
    filter: blur(0px);
  }
}

@keyframes lv-fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
     filter: blur(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
     filter: blur(0px);
  }
}

@-webkit-keyframes lv-fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
     filter: blur(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
     filter: blur(0px);
  }
}

@keyframes lv-fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-50px);
    -ms-transform: translateX(-50px);
    transform: translateX(-50px);
     filter: blur(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
     filter: blur(0px);
  }
}


@-webkit-keyframes lv-fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
    filter: blur(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    filter: blur(0px);
  }
}

@keyframes lv-fadeInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
    filter: blur(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    filter: blur(0px);
  }
}



@-webkit-keyframes lv-fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
    transform: translateY(-150px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes lv-fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    transform: translateY(-150px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}



@-webkit-keyframes lv-fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes lv-fadeInDownBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    -ms-transform: translateY(-2000px);
    transform: translateY(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}







@-webkit-keyframes lv-fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes lv-fadeInLeftBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px);
    -ms-transform: translateX(-2000px);
    transform: translateX(-2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}




@-webkit-keyframes lv-fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes lv-fadeInRightBig {
  0% {
    opacity: 0;
    -webkit-transform: translateX(2000px);
    -ms-transform: translateX(2000px);
    transform: translateX(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}


@-webkit-keyframes lv-fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes lv-fadeInUpBig {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    -ms-transform: translateY(2000px);
    transform: translateY(2000px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}






